<h1>Contact Us</h1>

<div class="about-pics">
  <%= image_tag "imp1.jpg", class: "imp-pics" %>
  <%= image_tag "imp2.jpg", class: "imp-pics" %>
</div>

<p class="contact-us">
  <strong>Email:</strong>
  janedoe@example.com
</p>
<p class="contact-us">
  <strong>Phone:</strong>
  (555) 123-4567
</p>


