<h1>Search Results</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="search-results">
        <% @results.each do |result| %>
          <div class="result">
            <%= link_to(image_tag("#{result.image}", alt: "#{result.name}"), product_path(result.id)) %>
              <div class="center">
                <%="#{result.name}: #{number_to_currency(result.price)}" %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

